@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/font.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #181818;
  color: #cccccc;
  font-family: 'JetBrains Mono', monospace;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  text-align: left;
  padding: 20px;
  font-size: 12px;
}

.content {
  width: 100%;
  margin-top: 2.04rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}


.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
  
.nav-links {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
  
.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}
  
.nav-links li a:hover {
  text-decoration: underline;
}
  
.navbar-underline {
  position: fixed;
  top: 2rem;
  left: 0;
  width: 100%;
  height: 0.04rem;
  background-color: #eee;
  z-index: 999;
}

@media (min-width: 768px) {
    html, body {
      overflow: hidden;
      height: 100%;
    }
  }
  
@media (max-width: 767px) {
  html, body {
    overflow: auto;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #1e1e1e;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 5px;
    border: 2px solid #1e1e1e;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #cccccc;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #cccccc #1e1e1e;
  }
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 5px;
    line-height: 1.1;
}


.section {
    margin-bottom: 30px;
}

.section-header {
    border-bottom: 1px solid #444;
    margin-bottom: 15px;
}

.links {
    margin-top: 10px;
}

.links a {
    color: #ffffff;
    text-decoration: none;
}

.links a:hover {
    color: #14be3e;
    text-decoration: underline;
}

h2 a {
    color: #cccccc;
    text-decoration: none;
}

h2 a:hover {
    color: #14be3e;
    text-decoration: underline;
}
